---
import '../styles/global.css'

const visitorPostResponse = await fetch("https://api.davidbour.com/visitor", {method: "POST", mode: "no-cors"})
const visitorGetResponse = await fetch("https://api.davidbour.com/visitor")
const visitorPostData = await visitorGetResponse.json();
const visitorGetData = await visitorPostResponse.json();
const pageTitle="David Bour"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
	
		<h1>David Bour</h1>
		<h2>'The reasonable man adapts himself to the world; the unreasonable man persists in trying to adapt the world to himself. Therefore all progress depends on the unreasonable man.'</h2>
		<p>
			<h3>Posts</h3>
			<ul>
				<li><a href="/posts/post-1/">Post</a></li>
				<li><a href="/posts/post-2/">Post</a></li>
				<li><a href="/posts/post-3/">Post</a></li>
			</ul>
		</p>
	</body>
	<footer>
		You are visitor: {visitorGetData.visitorCount}
	</footer>
</html>
